node-linker=hoisted
build-from-source=true
runtime=electron
disturl=https://npmmirror.com/dist
npm_config_build_from_source=true

# Electron mirrors
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
ELECTRON_MIRROR=https://npmmirror.com/mirrors/electron/
ELECTRON_CUSTOM_DIR={{ version }}

# Additional mirrors for faster downloads
registry=https://registry.npmmirror.com/
sass_binary_site=https://npmmirror.com/mirrors/node-sass/
phantomjs_cdnurl=https://npmmirror.com/mirrors/phantomjs/
sqlite3_binary_host_mirror=https://npmmirror.com/mirrors/
node_sqlite3_binary_host_mirror=https://npmmirror.com/mirrors/
chromedriver_cdnurl=https://npmmirror.com/mirrors/chromedriver/
